#upcomingProducts{
    height: 20%;
    width: 100%;
    box-sizing: border-box;
    padding: 6%;
    background-color: #FFFFFF;
    display: flex;
    line-height: 20px;
    flex-direction: column; 
}

#up_title{
    font-size: 14px;
    font-weight: bolder;
}

#up_description{
    font-size: 10px;
    color: #787878;
}