ul{
  padding: 0% !important;
  list-style: none;
  width: 100%;
}

#menubar li{
  background-color: #FFFFFF;
  margin: 10px;
}

#navigationBar{
  background-color: #FFFFFF;
  padding: 0% 10%;
  position:sticky;
  top:0;
}
#menubar{
  display: flex;
  justify-content: space-between;
  margin:0%;
  padding:0% 10%;
}

#links{
  display: flex;
  align-items: center;
  font-size: 16px ;
  width: 60%;
}

#buttongroup{
  display: flex;
  align-items: center;
}

.logo{
  color:#DA552F ;
  font-size: 2.5em !important;
}

.search,.search div{
  height: 100%;
  width: 100%;
}
.search div{
  display: flex;
  align-items: center;
}
.search div input{
  height: 52%;
  width: 100%   ;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-size: 12px;

}

#buttongroup li{
  display: flex;
  font-size: 12px;
  height: 54%;
}

.login{
  background-color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  border-radius:5px ; 
  border: 1px solid #E8E8E8;
  width: 71px;
}
.signup{
  background-color: #CC4D29;
  color:white;  
  font-size: 10px;
  font-weight: bold;
  border-radius:5px ;
  border: 1px solid #E8E8E8;
  width: 71px;
}

a:link, a:visited {
  background-color: #FFFFFF;
  color: #797979;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  color: black;
}


